body{
    margin: 0;
    padding: 0;

}
.final{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    
}
.ace{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.teacher{
    color: blue;
    font-family: 'Times New Roman', Times, serif;

}
.btn{
    border-radius: 40px;
    width: 40%;
    height: 40px;
    background-color: black;
    border: none;
    color: white;

}
.btn:hover{
    background-color: yellow;
    color: black;
    
}